.container {
    background-color: white;
}

.dataframe {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    padding : 8px;
}

tr, td, th {
    padding : 8px;
}

tr:nth-child(even) {background-color: #ddd9d9;}