.navbar {
    position:static;
}
.navbar .navbar-brand {
    background-color: rgb(6, 156, 156);
    padding: 8px 10px;
    font-size: 23px;
    font-weight:bold;
    color: #ffffff;
    margin-left:2%;
    margin-right:2%;
    
}

.collapse {
    font-size: 18px;
    margin-right: 10px;
    margin-left:10px;
    display:inline;
    position: absolute;
    right : 0;
  
    
}

.navbar-nav {
    display: inline;
}
.dropdown-menu {
    
}

